body {
	margin:0;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	font-family: Arial;
} 

.logo {
	float: left;
	margin-right: 25px;
}

#nav {
	clear: both;
	float: left;
	margin-top: 15px;
	margin-left: 15px;
	padding-right: 20px;
}

#header {
	background-color:#004AAD;
	padding: 10px;
	position: fixed;
	width: 100%;
	z-index: 1;
	font-size: 25;
	color: #FFDC3B;
}

#content p {
	margin-left: 260px;
	margin-right: 260px;
	margin-top: 50px;
	font-size: 25px;
	color: #004AAD;
	text-align: justify;
	background-color: #FFE487;
	padding: 20px;
	border-radius: 20px;
}

#footer {
	text-align:center;
	color: #FFDC3B;
	background-color: #004AAD;
	position: abosolute;
	bottom: 0;
	padding: 10px;
	margin-top: 70px;
}

#content {
	padding-top: 100px;
	text-align: center;
}

#content img {
	padding-bottom: 25px;
	paddingt-top: 100px;
}

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	background-color: #004AAD;
	overflow-x: hidden;
	padding-top: 60px;
	transition: 0.5s;
}

.sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 25px;
	color: #FFDC3B;
	display: block;
	transition: 0.3s;
}

.sidenav h2 {
	padding: 0px 8px 8px 15px;
	margin-top: 0;
	padding-top: 0;
	text-decoration: none;
	font-size: 35px;
	color: #FFDC3B;
	display: block;
}

.sidenav a:hover {
	color: #FFED00;
	transform: scale(1.05);
	filter: drop-shadow(0px 0px 10px #635F9F);
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
